.boardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  padding: 10px 12px;
  border-width: 4px;
  border-style: solid;
  border-left-color: #7b7b7b;
  border-top-color: #7b7b7b;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}
